body {
     background: linear-gradient(to right, #f4f6fa, #e5e9f8);

     font-family: 'Raleway', sans-serif;
     font-feature-settings: 'pnum' on, 'lnum' on;

     min-height: 100vh;
     scroll-behavior: smooth;
     text-rendering: optimizeSpeed;
     line-height: 1.5;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

/* HEADER */
header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin: 30px;
     user-select: none;
}

.logo_text {
     order: 1;
     font-size: 18px;
     text-transform: uppercase;
     cursor: pointer;
}

.logo_dfkr_text {
     font-weight: 600;
     color: #52607a;
}

.logo_sr_text {
     font-weight: 800;
     color: #2F446F;
}

.header_buttons {
     order: 2;
}

.header_buttons > button {
     font-size: 16px;
     cursor: pointer;
     text-transform: uppercase;
     border: 0;
     color: rgb(74, 102, 157);
     background-color: rgb(243, 245, 251);
     border-radius: 8px;
     padding-left: 26px;
     padding-right: 26px;
     padding-top: 12px;
     padding-bottom: 8px;
     margin-left: 20px;
     font-weight: 600;
     transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.header_buttons > #header_button_profile {
     border-radius: 100%;
     padding: 4px;
}

.header_buttons > #header_button_profile > img {
     width: 26px;
     height: 26px;
}

.header_buttons > button:hover {
     background-color: rgb(255, 255, 255);
}

/* FORMS */
form {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

form * { 
     user-select: none;
     font-size: 14px;
     outline: none;
}

form > h1 {
     color: rgb(47, 68, 111);
     font-size: 24px;
     font-weight: 800;
     width: 100%;
     text-align: center;    
}

form > div, form > button, form > span {
     border: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 40px;
     background-color: #ffffff;
     border-radius: 8px;
     margin-bottom: 20px;
     color: rgb(73, 102, 157);
}

form > div > img {
     margin-left: 10px;
     order: 1;
     width: 20px;
     height: 20px;
}

form > div > input {
     width: 250px;
     order: 2;
     border: 0;
     margin: 10px;
     background: 0;
     margin-top: 13px;
     font-weight: 700;
     color: #464646;
}

form > div > input[readOnly] {
     color: #b2b2b2;
}

form > div > input::placeholder {
     font-weight: 400;
}

form > div > .need_filling {
     order: 3;
     padding-right: 10px;
     font-weight: 1000;
     font-size: large;
     color: rgb(231, 102, 102);
}

@media (max-width: 768px) {
     form > div > input {
          width: 200px;
     }
}

form > div > input::placeholder {
     color: rgb(210, 210, 210);
}

form > div > input[type="file"] {
     display: none;
}

form > div > input:read-only {
     cursor:no-drop;
}

form > button {
     user-select: none;
     font-weight: bolder;
     width: 220px;
     cursor: pointer;
     padding-top: 5px;
     padding-bottom: 2px;
     font-size: 17px;
}

form > button > span {
     user-select: none;
     font-weight: bold;
     font-size: 17px;
}

form > button > .form_submit_load {
     content: "";
     width : 16px;
     height: 16px;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     border: 4px solid transparent;
     border-top-color: #838383;
     border-radius: 50%;
     animation: button-load-animation .5s linear infinite;
}

@keyframes button-load-animation {
     from {
          transform: rotate(0turn);
     }
     to {
          transform: rotate(1turn);
     }
}

form > span {
     user-select: none;
     background: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
}

#form_button_support {
     cursor: pointer;
}

/* MAIN CONTENT */
body > .main_content {
     width: 90%;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: column;
}

body > .main_content > section {
     width: 100%;
     background-color: #ffffff;
}

/* CALENDARS */
.calendar {
     padding: 40px;
     padding-top: 30px;
}

.calendar > .month {
     padding: 10px;
     text-align: center;
     font-weight: 1000;
     font-size: 24px;
     padding: 0;
}

.calendar > table {
     border-spacing: 10px;
}

.calendar > table > thead > tr > th, .calendar > table > tbody > tr > th {
     width: 50px;
     height: 50px;
     user-select: none;
}

.calendar > table > thead > tr > th {
     font-weight: 800;
}

.calendar > table > thead > tr > th[isWeekend] {
     color: rgb(236, 73, 73);
}

.calendar > table > tbody > tr > th[isDay] {
     cursor: pointer;
     background-color: rgb(250, 250, 250);
     border-radius: 8px;
     font-weight: 500;
     transition: background-color .3s cubic-bezier(0.215, 0.610, 0.355, 1), font-size .2s cubic-bezier(0.215, 0.610, 0.355, 1), font-weight .2s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.calendar > table > tbody > tr > th[isToday] {
     border: 2px solid #c3d4f6;
}

.calendar > table > tbody > tr > th[isDay]:hover {
     background-color: rgb(240, 240, 240);
     font-size: 20px;
     font-weight: 600;
}

.calendar > table > tbody > tr > th[isDay] > span {
     display: block;
}

.calendar > table > tbody > tr > th[isDay] > .eventsAmount {
     font-size: 9px;
     color: rgb(187, 187, 187);
}

.calendar > table > tbody > tr > th[isDay] {
     position: relative;
     cursor: pointer;
     background-color: rgb(250, 250, 250);
     border-radius: 8px;
     font-weight: 500;
     transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1), font-size .1s cubic-bezier(0.215, 0.610, 0.355, 1), font-weight .1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.calendar > table > tbody > tr > th[isZahlDay] {
     opacity: 0%;
}

.calendar > table > tbody > tr > th[isDay] .notification {
     position: absolute;
     font-size: 10px;
     top: -5px;
     right: -5px;
     width: 18px;
     height: 18px;
     color: white;
     background-color: rgb(252, 114, 114);
     border-radius: 50%;
     display: flex; 
     justify-content: center; 
     align-items: center;
     font-weight: 600;
     padding-top: 2px;
     padding-left: 1px;
     padding-right: 1px;

     transition: background-color .5s cubic-bezier(0.215, 0.610, 0.355, 1), font-size .1s cubic-bezier(0.215, 0.610, 0.355, 1), width .1s cubic-bezier(0.215, 0.610, 0.355, 1), height .1s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.calendar > table > tbody > tr > th[isDay] .notification_removed {
     width: 0;
     height: 0;
}

.calendar > table > tbody > tr > th.isSelectedDay {
     background-color: #e7eefc;
}

.calendar > table > tbody > tr > th.isSelectedDay:hover {
     background-color: #e1ebff;
}

/* =============================== */